@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.edit-product-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.edit-product__title{
    display: flex;
    width: 100%;
    justify-content: center;
}

.add-product__input{
    margin-bottom: 1rem;
}

.edit-product__btnwrapper{
    display: flex;
    justify-content: space-evenly;
}